.trade_screen_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.loading {
  text-align: center;
  width: 100vw;
  padding-top: 10rem;
  font-size: 3rem;
  font-weight: 600;
  color: rgba(98, 126, 234, 1);
}
